.cta-section {
    padding: 100px 25px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;

    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    @include tablet {
        p {
            max-width: 60vw;
        }
    }
    @include laptop {
        padding: 100px 50px;
        margin: 0 auto;
        max-width: 1200px;
    }
}